@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ulo-orange: #f6aa3d;
  --ulo-blue: #0ea5e9;
  --ulo-dark: #1e293b;
  --ulo-gray: #64748b;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  html {
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    font-feature-settings: "liga" 0, "dlig" 0;
  }
}

[data-slider-thumb] {
  background-color: #1570ef;
  border: 2px solid white;
  width: 18px;
  height: 18px;
}

[data-slider-track] {
  background-color: #e4e7ec;
  height: 4px;
}

[data-slider-range] {
  background-color: #1570ef;
}
